footer {
    margin: 0 12px;
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}




.footer-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}


.section-header-footer {
    margin-bottom: 0;
    font-size: 22px;
    letter-spacing: 0.44px;

}


.section-description-footer {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
}



.footer-social-media {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}


.sotial-icon-wrapper {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.sotial-icon {
    width: 24px;
    height: 24px;
}


























@media (min-width: 768px) {
    footer {
        padding: 32px 12px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-info {
        align-items: flex-start;
    }


    .section-description-footer {
        display: flex;
        width: 280px;
        text-align: start;
    }


    .footer-social-media {

        gap: 24px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section-description-footer-right {
        justify-content: flex-end;
    }



}























@media (min-width: 1200px) {

    footer {
        padding: 64px 64px;
        max-width: 1368px;
    }


    .section-header-footer {
        font-size: 32px;
        letter-spacing: 0.64px;

    }


    .section-description-footer {
        font-size: 16px;
    }


    .sotial-icon {
        width: 32px;
        height: 32px;
    }




}