


header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 100;
    padding: 0 8px;
    background: #FFF;

}



.header-btn-burger {
    border: none;
    padding: 0;
    height: 37px;
    width: 42px;
    border-radius: 4px;
    background: none;
    margin-right: 32px;
}




.header-logo-name {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.44px;
    text-decoration: none;
    color: #000;
}



.header-btn-log-in {
    color: #0F8277;
    font-size: 14px;
    line-height: 120%;
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    background: none;
    margin-right: 16px;


}



.btn-search {
    display: none;
}



.header-btn-explore {
    display: none;
}



.header-form-search {
    display: none;
}



.header-nav {
    display: none;
}






















@media (min-width: 768px) {

    header {
        padding: 12px;
    }

    .btn-search {
        display: flex;
        margin-right: 32px;
        padding: 10px;
    }


}


























@media (min-width: 1200px) {


    header {
        padding: 0 36px;
        max-width: 1368px;
        min-width: 1240px;
    }

    .header-btn-burger {
        display: none;
    }

    .btn-search {
        display: none;

    }

    .header-btn-explore {
        display: flex;
        margin-right: 44px;
    }


    .header-logo-name {
        margin-right: 44px;
    }

    .header-form-search {
        display: flex;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
    }

    .search-input {
        width: 330px;
        padding-left: 12px;

    }

    .btn-none-border {
        border-radius: 0px;
    }

    .search-input {
        color: #5C5C5C;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }


    .header-nav {
        display: flex;
        margin-right: 90px;
    }

    .header-nav-list {
        display: flex;
        gap: 48px;

    }


    .header-nav a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }



}