* {
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 70px 8px 0 8px;
    display: flex;
    flex-direction: column;
}


.wrapper-conetent-together {
    display: flex;
    align-items: center;
}


.btn {
    border: none;
    padding: 10px 12px;
    height: 37px;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
}




.specification {
    color: #0F8277;
    font-size: 16px;
    line-height: 120%;
}














/* billboard */



.billboard-btn {
    gap: 24px;
    display: flex;
    flex-direction: column;
}




.billboard-btn-learn-more {
    color: #0F8277;
    font-size: 14px;
    line-height: 120%;
    padding: 10px 12px;
    border-radius: 4px;
    background: none;
    border-radius: 4px;
    border: 2px solid #0F8277;
}




.billboard {
    width: 100%;
    height: 575px;
    border-radius: 12px;
    background: #DBF3ED;
    display: flex;
    min-width: 320px;
    justify-content: center;
    margin-bottom: 64px;
}

.billboard-image-container {
    display: none;
}



.billboard-text-container {
    margin: auto 16px;
    max-width: 380px;
    min-width: 320px;

}

.billboard-name {
    font-size: 46px;
    line-height: 120%;
    margin-bottom: 32px;
}


.billboard-info {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}



.billboard-image-container {
    display: none;
}















/* sections */


a {
    text-decoration: none;
    color: black;
}

.wrapper-conetent-together-column {
    display: flex;
    flex-direction: column;
}


.section-name {
    color: #0F8277;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 12px;
}



.section-header {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 12px;
}



.section-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}
















/* cards */



.wrapper-image-together {
    gap: 32px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.card-conteiner {
    border-radius: 10px;
    border: #DADADA solid 1px;
    overflow: hidden;
    width: 100%;


}






.company-courses-img {
    object-fit: cover;
    width: 100%;
    height: 278px;

}






.logo-and-name-company {

    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    overflow: hidden;
}


.company-name {
    margin-left: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.wrapper-text-together-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 16px;
    height: 110px;
}




.get-diploma-or-course {
    display: flex;

}







.bonnet {
    margin-right: 12px;
}

.get-diploma-offer {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;

}









.wrapper-text {
    margin-bottom: 25px;
}





.academic-training {
    margin-bottom: 80px;
}















/* more */




.more {
    color: #0F8277;
    font-size: 16px;
    line-height: 120%;
    margin: 32px auto 64px;
    position: relative;
    padding-right: 30px;
}



.more::after {
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}







/* section Academic training */




.topics-by-category {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    gap: 32px;
}

.wrapper-conetent-together-category-topic {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    justify-content: center;
}



.category-topic {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 168px;
}



.course-topic-name {
    font-size: 18px;
    line-height: 120%;
}


.price {
    font-size: 30px;
}


.topic-and-count {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topic {
    text-decoration: none;
    color: #0F8277;
    font-size: 14px;
    line-height: 120%;

}

.note {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}












/* partner-companies */



.partner-companies {
    display: flex;
    padding: 64px 8px;
    flex-direction: column;
    background: #DBF3ED;
    text-align: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 64px;
}



.partner-companies-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 24px 14px;
    align-self: center;
    max-width: 400px;
}



.partner-companies-logo-img {
    height: 42px;
    padding: 10px 0;
}


.partner-companies-logo-img-bigger {
    height: 42px;
}


.partners-text {
    margin-bottom: 0;
}







/* ideal-solution */

.ideal-solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}



.btn-contact-sales {
    width: 100%;
}



.ideal-solution-logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 351px;
    background-color: #BABABA;
    gap: 1.5px;

}


.ideal-solution-logo {
    display: flex;
    width: 116px;
    height: 66px;
    padding: 10px;
    align-items: center;
    object-fit: contain;
    align-items: stretch;
    justify-content: center;
    background-color: #FFF;
}


.ideal-solution-logo-img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}



























/* plans */

.chose-plan {
    display: flex;
    flex-direction: column;
    padding: 64px 8px 80px 8px;
    background: #DBF3ED;
    text-align: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}



.plans-together {
    display: flex;
    flex-direction: column;
    gap: 32px;

}






.plan {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    padding: 32px;

}


.plan-main-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.plan-main-info-best {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}




.plan-separator {
    width: 100%;
    height: 2px;
    background: #0F8277;
    border: none
}

.plan-ul {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    gap: 16px;
    padding-top: 32px;
    border-top: 2px solid #0F8277;
}

.plan-note {
    display: flex;
    position: relative;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.plan-note::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 500px;
    background: #0F8277;
    position: absolute;
    top: 0;
    left: -32px;
}


.plan-note::after {
    content: url(../img/Vector\ 2.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: -29px;
}




.best-plan {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
    padding: 32px;
}



.white-color {
    color: #FFF;
}

.btn-white-border {
    border: 2px solid #FFF;
    padding: 10px 12px;
    height: 37px;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;

}

.plan-separator-white {
    width: 100%;
    height: 2px;
    background: #FFF;
    border: none
}


.plan-ul-white {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    gap: 16px;
    padding-top: 32px;
    border-top: 2px solid #FFF;
}

.plan-note-white {
    display: flex;
    position: relative;
    color: #FFF;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
}

.plan-note-white::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 500px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: -32px;
}


.plan-note-white::after {
    content: url(../img/Vector\ 2\ \(1\).svg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: -29px;
}









/* students */


.students {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}


.student-img {
    width: 100%;
    height: 100%;
}



.student-cards-conteiner {
    justify-content: center;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.student-card-2 {
    grid-column: 1;
    grid-row: 2;
}


.student-card-4 {
    grid-column: span 2;
    grid-row: span 2;
}


.student-card-7 {
    grid-column: 2;
    grid-row: 5;
}


.student-card-8 {
    grid-column: 1;
    grid-row: 6;
}


.student-card-9 {
    grid-column: 2;
    grid-row: 2;
}












/* contact_us */


.contact_us {
    padding: 64px 8px;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.section-contact-us-header-description {
    margin-bottom: 0px;
}


.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}




.input-wrapper input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}




.input-wrapper input:focus {
    outline: none;
    border: 1.5px solid #0F8277;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}





textarea {
    resize: none;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    font-size: 14px;
    font-weight: 500;
}




.input-wrapper textarea:focus {
    outline: none;
    border: 1.5px solid #0F8277;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}


























































@media (min-width: 768px) {

    main {
        padding: 70px 12px 0 12px;
    }





    /* billboard */


    .billboard {
        position: relative;
    }


    .billboard-image-container {
        background-image: url(../img/hero-img.png);
        width: 500px;
        display: flex;
        position: absolute;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130%;
        top: 15%;
        right: 0%;
        background-size: contain;
    }


    .billboard-text-container {
        position: absolute;
        top: 25%;
        left: 8%;
        z-index: 50;
    }

    .billboard-btn {
        flex-direction: row;
        display: flex;
    }


    .btn-line {
        width: auto;
    }



    .wrapper-text-together-column {

        height: 142px;

    }






    /* sections */

    .section-description {
        margin-bottom: 40px;
    }



    .wrapper-image-together {
        gap: 24px;
        display: flex;
        flex-direction: row;
        width: 100%
    }



    .company-img {
        height: 180px;
    }








    /* more */

    .more {
        margin-bottom: 40px;
    }





    /* courses */

    .courses-img {
        height: 160px;
    }









    /* category */

    .topics-by-category {
        gap: 40px;
        max-width: none;
    }

    .wrapper-conetent-together-category-topic {
        display: flex;
        flex-wrap: wrap;
        gap: 32px 24px;
        justify-content: space-between;
        min-width: 768px;
    }






    /* partner-companies */

    .partner-companies-logo {
        align-self: normal;
        max-width: none;
    }




    .partners-text {
        max-width: 700px;

    }




    /* ideal-solution */

    .ideal-solution {
        margin: auto 12px 64px;
    }



    .btn-contact-sales {
        width: auto;
    }





    /* plan */

    .plan {
        width: 230px;
        padding: 32px;
    }

    .best-plan {
        width: 230px;
    }


    .plan-main-info {
        padding-bottom: 35px;

    }

    .year-plan {
        padding-bottom: 30px;
    }


    .plans-together {
        display: flex;
        flex-direction: row;
        gap: 32px;

    }










    /* ideal-solution */

    .ideal-solution {
        flex-direction: row;
        gap: 32px 24px;
        justify-content: space-around;

    }

    .ideal-solution-info {
        width: 350px;
    }







    /* students */

    .students {
        gap: 40px;
        margin-bottom: 100px;
    }

    .student-cards-conteiner {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .student-card-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .student-card-3 {
        grid-column: 1;
        grid-row: 3;
    }


    .student-card-4 {
        grid-column: 2;
        grid-row: 3;
    }

    .student-card-5 {
        grid-column: 3;
        grid-row: 3;
    }

    .student-card-6 {
        grid-column: 4;
        grid-row: 3;
    }

    .student-card-7 {
        grid-column: 4;
        grid-row: 2;
    }


    .student-card-8 {
        grid-column: 4;
        grid-row: 1;
    }


    .student-card-9 {
        grid-column: span 2;
        grid-row: span 2;
    }






    /* contact */

    .contact_us {
        padding: 64px 12px;
    }



    .btn-contact-send {
        width: 168px;
    }




    .section-contact-us-header-description {
        margin-bottom: 0;
    }







}


























@media (min-width: 1200px) {

    main {
        max-width: 1368px;
        padding: 70px 36px 0 36px;
    }


    .billboard__text-container {
        max-width: 482px;

    }


    /* sections */

    .wrapper-text-together-column {
        height: 162px;
    }



    .company-img {
        height: 278px;
    }


    .courses-img {
        height: 270px;
    }






    /* partner-companies */

    .partner-companies {
        gap: 60px;
    }





    /* more */

    .more {
        margin-bottom: 80px;
    }




    /* ideal-solution */


    .ideal-solution-logo-container {
        width: 591px;
    }


    .ideal-solution-logo {
        width: 196px;
        height: 136px;
        align-items: center;
    }



    .ideal-solution-info {
        width: 400px;
        gap: 32px;
    }




    /* plan  */

    .plan {
        padding: 56px;
        min-width: 320px;

    }



    .best-plan {
        padding: 56px;
        min-width: 320px;

    }


    .plan-main-info {
        padding-bottom: 35px;

    }

    .year-plan {
        padding-bottom: 20px;
    }


    .partner-companies {
        margin-bottom: 80px;
    }






    /* students */


    .student-cards-conteiner {

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }




    /* contact */

    .contact_us {
        padding: 80px 256px;
    }

    .btn-contact-send {
        width: 196px;
    }






}